/*QuestionTimer.css*/

.timer-wrapper {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.timer-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    font-weight: 700;
    color: var(--text-h);
    font-size: 1.1rem;
}

.timer-clock {
    font-family: var(--mono);
    font-size: 1.2rem;
}

.text-critical {
    color: var(--red);
}

.timer-container {
    width: 100%;
    height: 14px;
    background: var(--border);
    border-radius: 20px;
    overflow: hidden;
}

.timer-bar {
    height: 100%;
    background: var(--blue);
    transition: width 0.1s linear, background-color 0.3s;
}

.timer-bar.critical {
    background: var(--red);
}