/* Button.css */

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    font-family: var(--sans);
    font-size: 16px;
    font-weight: 800;
    color: var(--text-h);
    background-color: var(--bg);

    border: 2px solid var(--border);
    border-radius: 12px;
    cursor: pointer;

    box-shadow: 0 4px 0 var(--border);
    transition: transform 0.15s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.15s cubic-bezier(0.34, 1.56, 0.64, 1);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0 var(--border);
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0 var(--border);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    box-shadow: 0 4px 0 var(--border);
}